<div style="margin: 10%;"><form   action="/admin/add-products" method="post" enctype="multipart/form-data">
Name:       <input type="text" name="name"><br><br>
Description:<input type="textarea" name="des"><br><br>
Price:<input type="number" name="price"><br><br>
Image:<input type="file" name="image">
<button  type="submit">submit</button></form></div>