<div class="col-md-8 order-md-1">
  <h4 class="mb-3">Billing address</h4>
  <form class="needs-validation"  id="checkout-form">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstname" id="firstName" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastname" id="lastName" >
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com">
    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" >
      
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Pin</label>
      <input type="text" class="form-control" id="zipcode" name="pincode" >
    </div>
</div>
<hr class="mb-4">
<hr class="mb-4">
<h3>Total Rs. {{total}}</h3>
<h4 class="mb-3">Payment</h4>

<div class="d-block my-3">
  <div class="custom-control custom-radio">
    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="cod" >
    <label class="custom-control-label" for="credit">Cod</label>
  </div>
  <div class="custom-control custom-radio">
    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="card" >
    <label class="custom-control-label" for="debit">Debit card</label>
  </div>
</div>
<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
<input type="hidden" name="user" value="{{user._id}}">
</form>
</div>


<script>
  $('#checkout-form').submit((e) => {
    e.preventDefault();
    $.ajax({
      url: '/checkout',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        console.log(response)
      },
    })
  })
</script>