<form action="/signup" method="post" enctype="multipart/form-data">
   Name<input type="text" name="Name"><br>
   Email<input type="email" name="Email"><br>
   password<input type="password" name="Password">
    <button type="submit">signup</button>
</form>